<div class="container">
  <div class="row">
    <div class="col_lg_12">
      <h2>投稿詳細</h2>
      <table>
        <tbody>
          <tr>
            <td>ペットの名前:</td>
            <td><%= @post.pet_name %></td>
          </tr>
          <tr>
            <td>種類:</td>
            <td><%= @post.genre.genre_name %></td>
          </tr>
          <tr>
            <td>説明:</td>
            <td><%= @post.pet_explanation %></td>
          </tr>
          <tr>
            <td>投稿者:</td>
            <td>
              <%= link_to public_user_path(@post.user.id) do %>
                <%= @post.user.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "投稿編集", edit_public_post_path(@post.id) %>
            </td>
          </tr>
          <tr>
            <td>
              <% if @post.user == current_user %>
                <%= link_to "投稿削除", public_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <% if @post.favorited_by?(current_user) %>
                <%= link_to public_post_favorites_path(@post), method: :delete do %>
                  ♥<%= @post.favorites.count %> いいね
                <% end %>
              <% else %>
                <%= link_to public_post_favorites_path(@post), method: :post do %>
                  ♡<%= @post.favorites.count %> いいね
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form_with model: [@post,@post_comment], url: public_post_post_comments_path(@post.id), method: :post do |f| %>
                <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                <%= f.submit "送信する" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @post.post_comments.each do |post_comment| %>
          <tr>
            <td><%= post_comment.user.name %></td>
            <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
            <td>::<%= post_comment.comment %></td>
          </tr>
          <tr>
            <td>
              <% if post_comment.user == current_user %>
                <%= link_to "コメントを削除", public_post_post_comment_path(post_comment.post, post_comment), method: :delete %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
