<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>新規ユーザー登録</h2>
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table>
          <tbody>
            <tr>
              <td>名前</td>
              <td>
                <div class="field">
                  <%= f.text_field :name %>
                </div>
              </td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td>
                <div class="field">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
              </td>
            </tr>
            <tr>
              <td>パスワード<br>（６文字以上）</td>
              <td>
                <div class="field">
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
                </div>
              </td>
            </tr>
            <tr>
              <td>パスワード<br>（確認用）</td>
              <td>
                <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="actions">
                  <%= f.submit "新規登録" %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>