<div class="container">
  <div class="row">
    <div class="col_lg_12">
      <h2>投稿詳細</h2>
      <table>
        <tbody>
          <tr>
            <td>ペットの名前:</td>
            <td><%= @post.pet_name %></td>
          </tr>
          <tr>
            <td>種類:</td>
            <td><%= @post.genre.genre_name %></td>
          </tr>
          <tr>
            <td>説明:</td>
            <td><%= @post.pet_explanation %></td>
          </tr>
          <tr>
            <td>投稿者:</td>
            <td><%= @post.user.name %></td>
          </tr>
          <tr>
            <td>
              ♥<%= @post.favorites.count %> いいね
            </td>
          </tr>
          <tr>
            <td>
              <% @post.post_comments.each do |post_comment| %>
                <%= post_comment.user.name %>
                <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                ::<%= post_comment.comment %><br>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
