<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>ユーザー名:<%= @user.name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>いいねした投稿一覧</h4>
      <table>
        <thead>
          <th>[ペットの名前]</th>
          <th>[種類]</th>
          <th>[ペットについて]</th>
          <th>[投稿者]</th>
          <th></th>
        </thead>
        <tbody>
          <% @favorite_posts.each do |post| %>
          <tr>
            <td><%= post.pet_name %></td>
            <td><%= post.genre.genre_name %></td>
            <td><%= post.pet_explanation %></td>
            <td>:<%= post.user.name %></td>
            <td><%= link_to "投稿詳細", public_post_path(post.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
